.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    width: 100%;
}

.navbar li a {
    text-decoration: none;
    color: gold;
    font-weight: 600;
}

header {
    color: royalblue;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #0f172a;
  padding: 16px 24px;
}