.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    width: 100%;
}

.navbar li a {
    text-decoration: none;
    color: gold;
    font-weight: 600;
    transition: all 0.3s ease;
}

.navbar a:hover{
    color:#facc15;
    text-shadow:0 0 5px rgba(250, 204, 21, 0.6) ;
}


.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

body {
   background-image: url(https://static.vecteezy.com/system/resources/previews/008/167/404/non_2x/simply-soft-gradation-technology-background-free-vector.jpg);
}

.header {
    color: #facc15;
    font-size: 50px;
    margin-top: 80px;
    text-decoration: none;
    text-align: center;
}

.introduction-paragraph {
    color: #facc15;
    font-size: 30px;
    margin-top: 80px;
    text-decoration: none;
    text-align: center;
}